
@import "fonts/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;900&display=swap");

// Fontawesome
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/close";
// @import "bootstrap";

// Highlight.js
@import "./highlight.styles/default.css";

body {
  font-family: 'Vollkorn', 'Courier New', Courier, monospace;
}

label {
  margin-bottom: 0;
}

.popover {
  max-width: 60% !important;
  width: 50% !important;
  box-shadow: -4px 3px 20px -2px rgba(0,0,0,0.4);
  
  .popover-body {
    max-height: 250px;
    overflow-y: scroll;
  }
}

.brand {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  
  text-align: center;
  
  a {
    display: block;
    text-decoration: none;
  }

  .logo {
    height: 80px;
    margin-right: 10px;
  }
    
  .name {
    vertical-align: bottom;
    line-height: 1;
    font-size: 80px;
    font-family: 'Magneto-Bold';
    font-weight: bold;
    text-decoration: none;
    font-size: 53px;
    color: #284254;
  }

  .show-info {
    display: none;
  }
}

#knowledge-list {
  tr, th, td {
    vertical-align: middle;

    &:hover {
      font-weight: bold;
    }
  }
}

#refresh {
  width: 150px;
  height: 40px;
  margin: 5px;
}

#add-new {
  width: 150px;
  height: 40px;
  margin: 5px;
}

#editor-wrapper {
  .card {
    margin-bottom: 0.5rem;
  }
}

#knowledge-editor {
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}